body {
  font-family: "Poppins", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 15px;
  color: #616161; }

* {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

a:hover {
  text-decoration: none;
  color: #fc5f45; }

p {
  margin: 0 0 40px; }
  p:last-child {
    margin-bottom: 0; }

h1 {
  font-family: "Georgia", "Times New Roman", "Times", serif;
  font-size: 40px;
  margin: 0 auto 50px;
  color: #fff;
  font-weight: normal;
  line-height: 50px;
  max-width: 400px; }

h2 {
  font-family: "Georgia", "Times New Roman", "Times", serif;
  font-size: 40px;
  color: #313131;
  font-weight: bold;
  margin: 0 0 40px;
  z-index: 10;
  text-transform: capitalize; }

.button {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background: #fc5f45;
  line-height: 50px;
  width: 180px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  font-size: 16px;
  font-weight: bold; }
  .button:hover, .button:focus {
    color: #fff;
    background: #ff7658; }

.bottomLine {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; }
  .bottomLine * {
    width: 100%;
    height: 100%;
    display: block; }
  .bottomLine .redLine {
    background: #fc5f45; }
  .bottomLine .greenLine {
    background: #38c695; }
  .bottomLine .violetLine {
    background: #b27cf5; }
  .bottomLine .yellowLine {
    background: #feb960; }

/* ICONS */
.icon {
  display: inline-block;
  background: url("../img/icons.png"); }
  .icon.icon-dollar, .icon.icon-watch, .icon.icon-success {
    width: 40px;
    height: 40px; }
  .icon.icon-dollar {
    background-position: -24px -25px; }
  .icon.icon-watch {
    background-position: -100px -25px; }
  .icon.icon-success {
    background-position: -175px -25px; }

/* HEADER */
a.logo {
  display: inline-block;
  font-size: 35px;
  line-height: 75px;
  font-family: "Pattaya", "Georgia", "Times New Roman", "Times", serif;
  color: #616161; }
  a.logo:hover {
    color: #fc5f45; }
  a.logo span {
    color: #fc5f45; }

a.mainMenu-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 17px;
  right: 15px;
  color: #ccc;
  font-size: 30px;
  line-height: 45px;
  text-align: center; }
  a.mainMenu-button.active {
    color: #fc5f45; }

nav.mainMenu {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 1px;
  z-index: 100;
  background: #fafafa;
  padding: 0 15px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3); }
  nav.mainMenu a {
    display: block;
    line-height: 40px;
    font-size: 18px;
    color: #555;
    text-transform: capitalize;
    text-decoration: none;
    border-bottom: 1px solid #eee; }
    nav.mainMenu a:last-child {
      border-bottom: none; }
    nav.mainMenu a:hover {
      color: #fc5f45; }

/* BANNER */
section.banner {
  text-align: center;
  padding: 100px 0 100px;
  background: #262732 center url("../img/banner-mobile.jpg") no-repeat;
  background-size: cover; }
  section.banner .banner-thingBlock {
    margin: 50px auto 0;
    max-width: 400px; }
    section.banner .banner-thingBlock .col-lg-4:last-child .banner-thing {
      margin-bottom: 0; }
  section.banner .banner-thing {
    text-align: left;
    margin-bottom: 30px; }
    section.banner .banner-thing .icon {
      vertical-align: middle;
      margin-right: 10px; }
    section.banner .banner-thing p {
      margin: 0;
      text-transform: uppercase;
      display: inline-block;
      font-size: 18px;
      width: -webkit-calc(100% - 55px);
      width: calc(100% - 55px);
      vertical-align: middle; }
    section.banner .banner-thing .icon-dollar + p {
      color: #38c695; }
    section.banner .banner-thing .icon-watch + p {
      color: #b27cf5; }
    section.banner .banner-thing .icon-success + p {
      color: #feb960; }

@media screen and (min-width: 400px) {
  nav.mainMenu {
    max-width: 280px;
    right: 0;
    left: auto; } }

.numeric:before {
  display: block;
  position: absolute;
  font-size: 200px;
  color: #f6f6f6;
  font-family: "Poppins", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  z-index: 1; }

.numeric * {
  position: relative;
  z-index: 10; }

/* SCREEN 1 */
section.screen-1 {
  background: #fff;
  position: relative;
  margin: 0 auto;
  padding: 40px 0; }
  section.screen-1 .numeric:before {
    content: "01";
    top: -40px;
    left: 0; }
  section.screen-1 .imgBlock {
    display: none; }
  section.screen-1 .textBlock {
    padding: 80px 20px 0;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    max-width: 650px;
    position: relative;
    background: #fff; }
  section.screen-1 .bottomLine {
    width: -webkit-calc(100% + 40px);
    width: calc(100% + 40px);
    left: -20px;
    bottom: 0; }
    section.screen-1 .bottomLine * {
      width: 25%;
      display: block;
      position: absolute; }
    section.screen-1 .bottomLine .greenLine {
      left: 25%; }
    section.screen-1 .bottomLine .violetLine {
      left: 50%; }
    section.screen-1 .bottomLine .yellowLine {
      left: 75%; }
