body {
  font-family: "Poppins", "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 15px;
  color: #616161; }

a:hover {
  text-decoration: none; }

/* HEADER */
a.logo {
  display: inline-block;
  font-size: 35px;
  line-height: 75px;
  font-family: "Pattaya", "Georgia", "Times New Roman", "Times", serif;
  color: #616161; }
  a.logo span {
    color: #fc5f45; }

nav.mainMenu {
  text-align: right; }
  nav.mainMenu a {
    display: inline-block;
    line-height: 75px;
    font-size: 14px;
    padding: 0 10px;
    color: #272727;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold; }
