h1 {
  font-size: 50px;
  line-height: 70px;
  max-width: 600px; }

h2 {
  font-size: 50px;
  margin-bottom: 50px; }

/* BANNER */
section.banner {
  background-image: url("../img/banner-tablet.jpg"); }
  section.banner .banner-thingBlock {
    max-width: 800px; }
  section.banner .banner-thing {
    margin-bottom: 0; }
    section.banner .banner-thing .icon {
      display: block;
      margin: 0 auto; }
    section.banner .banner-thing p {
      display: block;
      text-align: center;
      width: 100%;
      margin-top: 35px; }

/* SCREEN 1 */
section.screen-1 {
  margin-top: 100px;
  max-width: 1140px; }
  section.screen-1 .numeric:before {
    font-size: 273px;
    top: -65px; }
  section.screen-1 .imgBlock {
    display: block;
    position: absolute;
    width: 555px;
    height: 700px;
    background-image: url("../img/about.jpg");
    -webkit-box-shadow: inset 0px 0px 0px 10px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 0px 0px 10px rgba(0, 0, 0, 0.2); }
  section.screen-1 .textBlock {
    width: 80%;
    max-width: 650px;
    padding: 80px 80px 0;
    float: right;
    margin-top: 70px;
    z-index: 100; }
    section.screen-1 .textBlock p {
      font-size: 18px;
      line-height: 27px; }
    section.screen-1 .textBlock .bottomLine {
      width: -webkit-calc(100% + 160px);
      width: calc(100% + 160px);
      left: -80px; }
